
 .input-comment{
    border-radius: 30px !important;
 }

 .input-post-edit{
    border-radius: 30px !important;
    width: 50%;
    min-width: 150px;
 }

 .button-cancel-post-edit{
     margin-top: 10px;
 }

 .input-author-comment{
    margin-bottom: 10px;
    width: 35%;
    min-width: 150px;
 }

 .input-order-post{   
    border-radius: 18px;
 }

 .group-post{
    width: 14%;
    min-width: 150px;
    float: right;
    margin-bottom: 10px;
 }

 .input-group-post{
    border-radius: 18px 0 0 18px !important;
 }